
# Remeber to do:
# Copy this file to /etc/systemd/system/dali.service
#
#  systemctl enable systemd-networkd.service systemd-networkd-wait-online.service
#
# In /etc/systemd/network directory add a file named local.network with:
#
# [Match]
# Name=eth0 | wlan0 
#
# [Network]
# DHCP=v4
#

[Unit]
Description=DALI controller
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
# Log to file (named logs/dali<Date>log and to log server (logging-servier:12201)
Environment="LOG_DESTINATION=fs"
ExecStart=/home/yuval/mqtt_dali control-bz
WorkingDirectory=/home/yuval
StandardError=file:/home/yuval/logs/dali.err.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target
